* {
	margin: 0 auto;
	font-size: 26px;
}

#container {
	background-color: gray;
	width: 900px;
	height: auto;
	margin-top: 200px;
}
#header {
	background-color: green;
	color: white;
	width: 800px;
	height: auto;
	padding: 25px;
}
#section {
	background-color: lightblue;
	color: white;
	width: 750px;
	height: auto;
	padding: 25px;
}
#red{
	background-color: red;
	color: white;
	width: 750px;
	height: auto;
}
#green {
	background-color: green;
	color: blue;
	width: 750px;
	height: auto;
}
#blue {
	background-color: blue;
	color: white;
	width: 750px;
	height: auto;
}
#footer {
	background-color: green;
	color: white;
	width: 800px;
	height: auto;
	padding: 25px;
}
